{% extends 'content_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content_body %}

    <div id="login-container">
        <h1 id="login-title">Log In</h1>
        {{ include('security/_form.html.twig', {
            button_text: 'Create!'
        }) }}
    </div>

{% endblock %}
